// Normalization

*,
*:before,
*:after,
html
  box-sizing: border-box
  scroll-behavior: smooth

body,
html
  margin: 0
  padding: 0
  font-family: $font-family
  color: $cool-grey-900

article,
aside,
cite,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section 
  display: block


summary 
  display: list-item

audio,
canvas,
progress,
video 
  display: inline-block

progress 
  vertical-align: baseline


audio:not([controls]) 
  display: none
  height: 0


img,
video 
  max-width: 100%
  height: auto


video 
  box-shadow: $box-shadow
  border-radius: $border-radius


iframe,
object,
embed 
  max-width: 100%


img 
  border-style: none
  -ms-interpolation-mode: bicubic


img.image-small 
  height: 120px
  width: 120px
  border-radius: 100%


img.image-medium 
  height: 120px
  width: 120px
  border-radius: 100%

svg:not(:root) 
  overflow: hidden


figure 
  margin: 0
 
[tabindex="-1"]:focus 
  outline: none


/* Pre & Code */

pre
  padding: 0.5rem
  border: 1px solid $yellow-300

pre, code
  color: $purple-900
  background: $yellow-050
  font-family: 'Source Code Pro', monospace
  text-align: left
  white-space: pre
  tab-size: 2
  hypens: none
  overflow: auto
  line-height: 1.5
  direction: ltr