// Sitewide Variables

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

// Colors

// Primary Colors
$purple-050: hsla(262,61%,93%,1)
$purple-100: hsla(261,67%,84%,1)
$purple-200: hsla(261,54%,68%,1)
$purple-300: hsla(261,47%,58%,1)
$purple-400: hsla(262,43%,51%,1)
$purple-500: hsla(262,48%,46%,1)
$purple-600: hsla(262,60%,38%,1)
$purple-700: hsla(262,69%,31%,1)
$purple-800: hsla(262,72%,25%,1)
$purple-900: hsla(263,85%,18%,1)

// Neutral Colors
$cool-grey-050: hsla(216,33%,97%,1)
$cool-grey-100: hsla(214,15%,91%,1)
$cool-grey-200: hsla(210,16%,82%,1)
$cool-grey-300: hsla(211,13%,65%,1)
$cool-grey-400: hsla(211,10%,53%,1)
$cool-grey-500: hsla(211,12%,43%,1)
$cool-grey-600: hsla(209,14%,37%,1)
$cool-grey-700: hsla(209,18%,30%,1)
$cool-grey-800: hsla(209,20%,25%,1)
$cool-grey-900: hsla(210,24%,16%,1)
$white: hsla(0,0,100%,1)

// Accent Yellow
$yellow-050: hsla(45,100%,96%,1)
$yellow-100: hsla(45,90%,88%,1)
$yellow-200: hsla(45,86%,81%,1)
$yellow-300: hsla(43,90%,76%,1)
$yellow-400: hsla(43,89%,70%,1)
$yellow-500: hsla(42,78%,60%,1)
$yellow-600: hsla(42,63%,48%,1)
$yellow-700: hsla(43,72%,37%,1)
$yellow-800: hsla(43,77%,27%,1)
$yellow-900: hsla(43,86%,17%,1)

// Element Stying
$border-radius: 3px
$box-shadow: 3px 3px 6px rgba(0,0,0,.16)

// Media queries
$small-breakpoint: 500px
$medium-breakpoint: 800px
$large-breakpoint: 1200px
$xlarge-breakpoint: 1600px

// SVG Icon Variables
$purple-primary: $purple-700
$purple-secondary: $purple-200
$purple-shadow: hsla(261,54%,68%,0.75)
$yellow-primary: $yellow-600
$yellow-secondary: $yellow-200
$yellow-shadow: hsla(45,86%,81%,0.75)

// Button Variables
$button-shadow: inset 0 2px 0 $cool-grey-200, 0 4px 4px rgba(0,0,0,20%)
$button-shadow-primary: inset 0 2px 0 $purple-200, 0 4px 4px rgba(0,0,0,20%)
$button-shadow-secondary: inset 0 2px 0 $yellow-200, 0 4px 4px rgba(0,0,0,20%)