<!-- Articles Section -->

<section id="articles" class="container">

    <h1 class="section-header-wrapper">Articles</h1>
  
    <div class="articles-index-wrapper">
  
      <!-- This loops through the paginated posts -->
      {% for post in paginator.posts %}
        <div class="feed-article">
          <h2>
            <a class="article-title" href="{{ post.url }}">{{ post.title }}</a>
          </h2>
          <div class="content">
            {{ post.content | strip_html | truncatewords: 60 }}
            <a href="{{ post.url }}">
              <p>Read More ...</p>
            </a>
          </div>
        </div>
      {% endfor %}
      
  
      <!-- Pagination Links -->
      <div class="articles-pagination-wrapper">
        {% if paginator.total_pages > 1 %}
          {% if paginator.previous_page %}
            <a href="{{ paginator.previous_page_path }}">Previous</a>
          {% else %}
            <span>Previous</span>
          {% endif %}

          <span>{{ paginator.page }} of {{ paginator.total_pages }} </span>
          {% if paginator.next_page %}
            <a href="{{ paginator.next_page_path }}">Next</a>
          {% else %}
            <span>Next</span>
          {% endif %}
        {% endif %}
      </div>
  
    </div>
  
  </section>