<section id="contact" class="container">
  <div class="section-header-wrapper">
    <h1>Contact us today</h1>
    <p>Find out how we can be your solution for your technology needs.</p>
  </div>
    <form method="post" action="/">
      <input name="Email" type="email" placeholder="Enter in your email">
      <input type="hidden" name="_to" value="colinrubbert@gmail.com">
      <input type="text" name="_subject" style="display: none;" value="fivethirtyfour - notification">
      <input type="text" name="_gotcha" style="display: none;">
      <input class="button button-primary" type="submit" value="Notify Me">
    </form>

</section>