<section class="container">
  <div class="wrapper hero-wrapper">
    <div class="hero-content">
      <h4>Solving your technology needs in a confusing world</h4>
      <p>Web design and managed IT solutions for non-profits, small business, and enterprises.</p>
      <form method="post" action="/" class="cta-form">
        <input name="Email" type="email" placeholder="Enter in your email">
        <input type="hidden" name="_to" value="colinrubbert@gmail.com">
        <input type="text" name="_subject" style="display: none;" value="fivethirtyfour - notification">
        <input type="text" name="_gotcha" style="display: none;">
        <input class="button button-secondary" type="submit" value="Notify Me">
      </form>
    </div>
  </div>
</section>