<section id="philosophy" class="container">
  <div class="section-header-wrapper">
    <h1>Our Philosophy</h1>
  </div>
  <div class="content-container">
    <p>Working with companies from manufacturing, non-profits, consultants, corporations, and small businesses have exposed us to a simple truth, the right choice in technology could make or break a company.
    </p>
    
    <p>The days are gone that a business could rely on word of mouth to do their customer outreach and marketing for them. Today we need technology to reach current and potential customers.</p>

    <p>fivethirtyfour is the resource to help make the right choices to reach the right people. We believe in making sure our customer’s business is provided with the best tools they can have. Whether that means a fresh new website that focuses on the massive shift in mobile searches or getting rid of that old server you’ve got laying around in a responsible and ecological manner.</p>
  </div>
</section>