// Card Styling

.card-grid
  display: grid
  justify-content: center
  grid-gap: 4rem 7.5rem
  list-style: none
  padding: 0

.card
  display: flex
  flex-direction: column
  justify-content: flex-start
  align-items: center
  box-shadow: $box-shadow
  padding: 2rem
  border-radius: $border-radius
  width: 360px
  min-height: 400px
  text-align: center
  background: $white
  z-index: 100
  p
    font-size: 1.125rem


@media screen and (min-width: $medium-breakpoint)
  .card-grid
    grid-template-columns: 360px 360px
    grid-row-gap: 0

  .card:nth-child(odd)
    margin-bottom: 6rem
  
  .card:nth-child(even)
    margin-top: 6rem



// SVG Icon Styling
.icon
  display: flex
  justify-content: center
  align-items: center
  background: $white
  border-radius: 100%
  border: 10px solid $cool-grey-100
  box-shadow: 0px 4px 15px hsla(214,15%,91%,0.5)
  width: 80px
  height: 80px

.svg-icon
  height: 36px
  width: 36px
  stroke: $cool-grey-200

.icon-purple
  border-color: $purple-secondary
  box-shadow: 0px 4px 15px $purple-shadow
.svg-purple
  stroke: $purple-primary

.icon-yellow
  border-color: $yellow-secondary
  box-shadow: 0px 4px 15px $yellow-shadow
.svg-yellow
  stroke: $yellow-primary
