// Card Styling

.card-grid
  display: grid
  grid-gap: 3rem
  list-style: none
  padding: 0

.card
  ul
    list-style: none
    padding: 0
  li
    display: flex
    margin-bottom: 1rem
  svg
    width: 1.5rem
    height: 1.5rem
    flex-shrink: 0
    margin-top: .25rem
    margin-right: 1rem
    .primary
      stroke: $indigo-400
      fill: none
    .secondary
      fill: $indigo-400


@media screen and (min-width: $small-breakpoint)
  .card-grid
    grid-template-columns: 1fr 1fr

// @media screen and (min-width: $large-breakpoint)
//   .card-grid
//     grid-template-columns: 1fr 1fr 1fr