// Hero styling
.hero-wrapper
  padding: 1rem 0
  .hero-content
    width: 80%
    text-align: center
  .hero-image
    display: none
    width: 80%
    padding-top: 1rem
    margin: auto
  .hero-svg
    width: 100%

@media screen and (min-width: $small-breakpoint)    
  .hero-wrapper
    padding: 3rem 0
    align-items: center
    .hero-content
      width: 50%
      text-align: left
    .hero-image
      display: block
      width: 50%
      img
        padding: 0

@media screen and (min-width: $large-breakpoint)
  .hero-wrapper
    justify-content: space-between
    .hero-content
      width: 40%
      max-width: 320px
      margin: 0
    .hero-image
      width: 60%
      max-width: 80%
      margin: 0

  .hero-svg
    width: 100%