.top-bar
  height: 4px
  width: 100%
  background: $indigo-400

nav
  display: flex
  align-items: center
  justify-content: space-between
  height: 60px

.brand
  margin: 0
  font-weight: 100

.navigation-links-wrapper
  display: flex
  list-style: none
  li
    margin-left: 1rem

.navigation-link
  text-decoration: none